amqp==2.2.2
anyjson==0.3.3
beautifulsoup4==4.6.0
billiard==3.5.0.3
bs4==0.0.1
celery==4.1.0
celery-with-redis==3.0
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
Django==2.2.13
django-bootstrap3==9.1.0
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-gravatar2==1.4.2
django-recaptcha2==1.0.3
html5lib==1.0.1
idna==2.6
kombu==4.1.0
oauthlib==2.0.6
psycopg2==2.7.4
psycopg2-binary==2.7.4
PyJWT==1.5.3
python3-openid==3.1.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.22
vine==1.1.4
webencodings==0.5.1
