{% load bootstrap3 %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}  NCYU Course++</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.js"></script>

    {% bootstrap_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.min.css" />

    {% block head %}
    {% endblock %}
  </head>
  <body id="body">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url 'landingPage' %}" id="logo" class="navbar-brand">NCYU Course</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">全校課程</a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'course_search' %}">全校課程</a></li>
                <!--<li><a href="{% url 'landingPage' %}" class="disabled">心得</a></li>-->
                <!--<li><a href="{% url 'landingPage' %}" class="disabled">考古題</a></li>-->
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_staff %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                管理 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              </ul>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ request.user.first_name }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'profile' %}">個人設定</a></li>
                <li class="divider"></li>
                <li>
                  <a href="{% url 'logout' %}">登出</a>
                </li>
              </ul>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">登入</a></li>
            <!--<p class="navbar-text">or</p>-->
            <!--<li><a href="{% url 'register' %}">註冊</a></li>-->
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% block footerjs %}
    {% endblock %}
  </body>
</html>