{% extends "setting/setting_base.html" %}
{% load bootstrap3 %}

{% block title %}Profile{% endblock %}

{% block setting_content %}
  <div class="col-md-9">
    <h2>Public profile</h2>
    <form action="{% url 'profile' %}" method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {% buttons %}
        <button type="submit" class="btn btn-success btn-raised">
          Update profile
        </button>
      {% endbuttons %}
    </form>
  </div>
{% endblock %}